<div id="header">
    <!--Header Start-->
    <div id="headContainer">
        <img id="headImage" src="images/20200604_0734254.jpg" alt="Andrew Walczak">
        <h1 id="motto">Andrew Walczak (AKA Roo)</h1>
    </div>
    <div id="clearFloat"></div>
    <!--empty div for clearing floats-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="dragdrop">Drag & Drop</a></li>
            <li><a href="ajax">AJAX</a></li>
            <li><a href="chat">Chat</a></li>
            <li><a href="crud">CRUD</a></li>
        </ul>
    </nav>
    <!--Header End-->
</div>