<div id="body">
    <!--Body Start-->
    <h1 id="title">{{ title }}</h1>
    <section>
        <div class="aboutPage">
            <p>Hey there, my name is Roo and I am currently 24 years old.
                <br>This page is to give you a little bit more insight into my life and who I am. </p>
            <h2>Random Facts/Interests</h2>
            <p>I have 3 brothers and 3 sisters, I am both the oldest and middle child out of the 7 of us.</p>
            <p>I am currently enrolled in Gateway's Web Software Developer curriculum.
                <br>I am only into my third semester, but I have absolutely fallen in love with programming.</p>
            <p>I absolutely love all animals and I currently live with two cats, Maggie and Puck.</p>
            <p><span>Some of my hobbies are:</span>
                <br> Shooting
                <br> Fishing
                <br> Gaming
                <br> Listening to music
                <br> Reading
                <br> Riding on my longboard.</p>
        </div>
    </section>
    <!--Body End-->
</div>