<div id="body">
    <!--Body Start-->
    <h1 id="title">{{ title }}</h1>
    <div class="userContainer">
        <h2>Users</h2>
        <div id="users"></div>
    </div>
    <div class="conversationContainer">
        <input id="data">
        <input type="button" id="datasend" value="send">
        <div id="conversation"></div>
    </div>
    <!--Body End-->
</div>

<script src="js/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>