<div id="body">
    <!--Body Start-->
    <h1 id="title">{{ title }}</h1>
    <div id="message">
        Refresh to Scramble.
    </div>
    <div id="gameBoard">

    </div>
    <!--Body End-->
</div>

<script src="js/scramble.js"></script>